/*MOBILE */


#instagram_logo_div.mobile{
    height: 100%;   
}

.body{
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
}


#titolo_header.mobile{
    font-size: 2.9vh;
}

#header.mobile{
    height: 9%;
}

 #content.mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    height: 83%;
 }

#div_citazione.mobile{
    width: 100%;
}

#citazione.mobile{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3.2vh;
    text-align: center;
}

#footer.mobile{
    height: 8%;
}

#made_by_love.mobile{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.3vh;
}

#div_copertina.mobile{
    height: 50vh ;

    display: flex;
    flex-direction: column;
    
    justify-content: center
}

#copertina.mobile{
    height: 80%;
}


